- var env = 'PROD';

doctype html
html
  head
    meta( charset="utf-8" )
    meta( name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" )
    meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
    title Music Search
    base( href="/#" )

    include includes/styles.pug
    
  body(
    ng-app="base"
    ng-class="{'blocked-scroll': openAlbumsModal || openTracksModal || openArtistModal, 'albums__visible': openAlbumsModal, 'tracks__visible': openTracksModal, 'artist__visible': openArtistModal}"
  )
    include components/home/home.pug
    include includes/scripts.pug