.home( ng-controller="homeCtrl" )
  .modal--overlay
  .main
    .main--header
      .header--block
        img#gklabel( src="assets/Images/gl-logo@2x.png" )
      .header--block Powered by Spotify
    .main--hero
      img#headset( src="assets/Images/hero-img@2x.png" )
      img#arrow( src="assets/Images/Page 1@2x.png" )
  form.search
    .search--box
      input( 
        placeholder="Search for artist or album title"
        ng-model="query"
        maxlength="50"
      )
    button.search--button( ng-click="search(query)" ) SEARCH
  
  .results--wrapper
    .results--empty( ng-if="!results || results.length === 0" )
      img#glass( src="assets/Images/Magnify@2x.png" )
      span Your results will appear here

    .results--matches( ng-if="results.length > 0" )
      .result--card( 
        ng-repeat="result in results"
        ng-click="show(result)"
      )
        .card--pic( 
            style="background-image: url( {{ ::getPic(result) }} )"
            ng-attr-style="background-image: url( {{ ::getPic(result) }} )"
            ng-class="{'card--pic__blurred': {{ ::showBlurred(result) }} }"
          )
          .card--badge
            img( 
              ng-if="result.type === 'album'"
              src="assets/Images/album-icon@2x.png"
            )
            img( 
              ng-if="result.type === 'artist'"
              src="assets/Images/artist-icon@2x.png"
            )
          .card--overlay
        .card--viewall( 
          ng-if="::showBlurred(result)"
        )
          img( src="assets/Images/Bitmap@2x.png" )
          span.viewall--text( ng-if="result.type === 'all_albums'" ) View Albums
          span.viewall--text( ng-if="result.type === 'all_tracks'" ) View Tracks
        .card--title {{ result.name }}
      .extra--card
      .extra--card
      .extra--card
  .results--more
    .results--button( 
      ng-click="more()"
      ng-if="results && results.length > 0"
    ) SHOW ME MORE!  
  footer
    span Designed by Geek Label - Powered by Spotify

include ../albums/albums.pug
include ../tracks/tracks.pug