.home( ng-controller="homeCtrl" )
  .modal--overlay
  .main
    .main--header
      .header--block
        img#gklabel( src="assets/Images/gl-logo@2x.png" )
      .header--block Powered by Spotify
    .main--hero
      img#headset( src="assets/Images/hero-img@2x.png" )
      img#arrow( 
        ng-click="scrollDown()"
        src="assets/Images/Page 1@2x.png"
      )
  form.search
    .search--box
      input( 
        placeholder="Search for artist or album title"
        ng-model="query"
        maxlength="50"
      )
    button.search--button( ng-click="search(query)" ) SEARCH
  #scroll-target
  .home--spinner( ng-show="showUpperLoader" )
    .spinner
      .spinner--bar
      .spinner--bar
      .spinner--bar
  .results--wrapper
    .results--empty.mobilehidden( ng-if="!results || results.length === 0" )
      img#glass( src="assets/Images/Magnify@2x.png" )
      span Your results will appear here

    .results--matches( ng-if="results.length > 0" )
      .result--card( 
        ng-repeat="result in results"
        ng-click="show(result)"
        ng-class="{'result--card__nopointer': result.type === 'artist'}"
      )
        .card--pic( 
            style="background-image: url( {{ ::getPic(result) }} )"
            ng-attr-style="background-image: url( {{ ::getPic(result) }} )"
            ng-class="{'card--pic__blurred': {{ ::showBlurred(result) }} }"
          )
          .card--badge
            img( 
              ng-if="result.type === 'album'"
              src="assets/Images/album-icon@2x.png"
            )
            img( 
              ng-if="result.type === 'artist'"
              src="assets/Images/artist-icon@2x.png"
            )
          .card--overlay
        .card--viewall( 
          ng-if="::showBlurred(result)"
        )
          img.mobilehidden( src="assets/Images/Bitmap@2x.png" )
          span.viewall--text( ng-if="result.type === 'all_albums'" ) 
            span.mobilehidden View
            span  Albums
          span.viewall--text( ng-if="result.type === 'top_tracks'" ) 
            span.mobilehidden View 
            span Tracks
        .card--title {{ result.name }}
      .extra--card.mobilehidden
      .extra--card.mobilehidden
      .extra--card.mobilehidden
  .home--spinner( ng-show="showLowerLoader" )
    .spinner
      .spinner--bar
      .spinner--bar
      .spinner--bar
  .results--more( ng-if="results && results.length > 0" )
    .results--button( ng-click="more()" ) SHOW ME MORE!  
  footer
    span Designed by Geek Label
    span.mobilehidden  - 
    span Powered by Spotify

include ../albums/albums.pug
include ../tracks/tracks.pug